*{
    margin: 0;
    padding: 0;
    font-family: "Rubik";
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

p{
    font-size: 40px;
}

li::marker{
    font-size: 40px;
}

@keyframes loader-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes checkmark {
    0% {
      width: 50px;
      height: 50px;
      opacity: 100%;
    }
    50%{
      width: 25px;
      height: 25px;
      opacity: 50%;
    }
    100% {
      width: 50px;
      height: 50px;
      opacity: 100%;
    }
  }

body{
    overflow: hidden;
    
}

.content{
    display: flex;
}

.menu{
    width: 1379px;
    height: 1080px;
    background-color: rgb(255,255,255);
}

.sideGlideR{
    width: 268px;
    height: 1080px;
    background-color: rgb(137,184,255);
    background-image: url(/img/logo.png);
    background-size: 40%;
}

.sideGlideL{
    width: 268px;
    height: 1080px;
    background-color: rgb(137,184,255);
    background-image: url(/img/logo.png);
    background-size: 40%;
}

.fr{
    display: flex;
    justify-content: center;
}

.sing-in{
    border: 2px solid rgba(0, 0, 0, 0.5);
    width: 800px;
    height: 200px;
    border-radius: 0.5em;
    margin-top: 70px
}

.name{
    padding: 20px;
    border-radius: 5px;
    position: relative;
    top: 70px;
    right: -90px;
    margin-right: 170px;
    box-shadow: 3px 3px 2px 1px rgba(2, 209, 159, 75%);
}

.surname{
    padding: 20px;
    border-radius: 5px;
    position: relative;
    top: 70px;
    right: -90px;
    box-shadow: 3px 3px 2px 1px rgba(137,184,255, 75%);
}

.red{
    border: 2px solid rgb(255,0,0);
}

.circle{
    background-color: rgb(0, 129, 0);
    border-radius: 45em;
    width: 70px;
    height: 70px;
    position: relative;
    top: 8px;
    left: 356px;
    cursor: pointer;
}

.verifed{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.circle:hover{
    animation-name: loader-spin;
    animation-duration: 1s;
}

.sing-in-txt{
    text-align: center;
    margin-top: 15px;
}

/* DIARY */

header{
    display: flex;

}

.avatar{
    width: 170px;
    height: 170px;
    border-radius: 1em;
    background-color: rgb(226,226,226);
    margin-left: 120px;
    margin-top: 70px;
}

.ini{
    margin-top: 75px;
    margin-left: 90px;
    letter-spacing: 7.5px;
}

.nameD{
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 100px;
}
.surnameD{
    font-size: 24px;
    text-decoration: underline;
}

.toggler{
    /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
      z-index:2;
      height: 50px;
      width: 50px;
      position: absolute;
      top: 25px;
      left: 1920px;
      cursor: pointer;
      opacity: 0;
  }

  label .menu {
    position: absolute;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #FFF;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
    
  }
  
  label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #69D2e7;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  
  label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #69d2e7;
  }
  
  label .hamburger:before { top: -10px; }
  
  label .hamburger:after { bottom: -10px; }
  
  label input { display: none; }
  
  label input:checked + .menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
    
  }
  
  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    
  }
  
  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    
  }
  
  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
    
  }
  
  label input:checked + .menu + ul { opacity: 1; }
  
  label ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
  }
  
  label a {
    margin-bottom: 1em;
    display: block;
    color: #f38630;
    text-decoration: none;
  }  

.contentDR{
    display: flex;
    align-items: flex-end;
}

.less{
    position: relative;
    left: -115px;
}

.lessons{
    margin-bottom: 10px;
    text-decoration: underline;
    
}
.disc{
    margin-top: 10px;
}

.time{
    position: relative;
    left: 95px;
}

.times{
    margin-top: 10px;
    text-decoration: underline;
}
